{% extends "schedueling/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Te hermos enviado un correo para el restablecimiento. Por favor contáctanos si no lo recibes en unos minutos.{% endblocktrans %}</p>
{% endblock %}