{% extends "schedueling/base.html" %}
{% load static %}
{% block content %}
	<h1>¡Bienvenido {{user.username}}! </h1>
    <!--<h3>Fecha: {{currDate}}</h3>-->
    <!--<h3>Carnet: {{request.session.carnet}}</h3>-->
    <br>
    <div id = "savetopdf" class = "content-section center container">
		<legend class = "border-bottom mb-4">USUARIOS</legend>
		<button id="printable" class="btn btn-dark">Imprimir usuarios</button>
		<button id="savepdf" class="btn btn-dark">Descargar usuarios</button>
		<br><br>
        <table class="table">
        	<thead class="thead-dark">
        		<th scope="col">Nombre de Usuario</th>
        		<th scope="col">Nombre</th>
        		<th scope="col">Email</th>
        		<th scope="col">¿Admin?</th>
        		<th scope="col">Status</th>
        	</thead>
	        <tbody>
	        	{% for usr in users %}
		        	<tr scope="row">
	        			<td>{{ usr.username }}</td>
	        			<td>{{ usr.first_name }} {{ usr.last_name }}</td>
	        			<td>{{ usr.email }}</td>

	        			{% if usr.is_staff == 1%}
	        				<td><button data-toggle="tooltip" title="Remover Administrador" id = "{{ usr.id }}" href = 'javascript:void(0);' type="submit" name="cancel" class="btn btn-outline-danger" onclick = "removerAdmin('{{ usr.id }}')">×</button></td>
	        			{% else %}
	        				<td><button data-toggle="tooltip" title="Activar Administrador" title="Tooltip on top" id = "{{ usr.id }}" href = 'javascript:void(0);' type="submit" name="cancel" class="btn btn-outline-success" onclick = "activarAdmin('{{ usr.id }}')">✔</button></td>
	        			{% endif %}
	        			{% if usr.is_active == 1%}
	        				<td><button data-toggle="tooltip" title="Desactivar Usuario" title="Tooltip on top" id = "act{{ usr.id }}" href = 'javascript:void(0);' type="submit" name="cancel" class="btn btn-outline-danger" onclick = "desactivarUsr('{{ usr.id }}')">×</button></td>
	        			{% else %}
	        				<td><button data-toggle="tooltip" title="Activar Usuario" id = "act{{ usr.id }}" href = 'javascript:void(0);' type="submit" name="cancel" class="btn btn-outline-success" onclick = "activarUsr('{{ usr.id }}')">✔</button></td>
	        			{% endif %}
	        		</tr>
		        {% endfor %}
	        </tbody>
        </table>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
	<script>
	$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();
	});
    $('#printable').click(function () {
        // var pageTitle = 'Mis Citas',
        //     stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
        //     win = window.open('', 'Print', 'width=1280,height=800');
        // win.document.write('<html><head><title>' + pageTitle + '</title>' +
        //     '<link rel="stylesheet" href="' + stylesheet + '" media="print">' +
        //     '</head><body>' + $('.table')[0].outerHTML + '</body></html>');
        // win.document.close();
        // win.print();
        // win.close();
        // return false;
		window.print();
	});
	var doc = new jsPDF('p', 'pt', 'a4');

	$('#savepdf').click(function () {
		doc.fromHTML( $('#savetopdf')[0]);
		doc.save('usuarios.pdf');
	});
	</script>
{% endblock content %}