{% extends "schedueling/base.html" %}
{% load static %}
{% block content %}
	<h1>¡Bienvenido {{user.username}}! </h1>
    <!--<h3>Fecha: {{currDate}}</h3>-->
    <!--<h3>Carnet: {{request.session.carnet}}</h3>-->
    <br>
    <div id = "savetopdf" class = "content-section center container">
		<legend class = "border-bottom mb-4">CARNETS</legend>
		<button id="printable" class="btn btn-dark">Imprimir carnets</button>
		<button id="savepdf" class="btn btn-dark">Descargar carnets</button>
		<br><br>
		{% if msg == 1 %}
			<div class="alert alert-warning" role="alert">
	     		El carnet que tratas de ingresar ya existe.
			</div>	
		{% elif msg == 2 %}
			<div class="alert alert-success" role="alert">
	     		Has agregado el carnet correctamente.
			</div>	
		{% endif %}
        <table class="table">
        	<thead class="thead-dark">
        		<th scope="col">Id Carnet</th>
        		<th scope="col">Nombre Carnet</th>
        		<th scope="col">Status</th>
        	</thead>
	        <tbody>
	        	<form method="POST" action="/admin_carnets/">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
				    		<span class="input-group-text" id="basic-addon1">Agrega un carnet</span>
				  		</div> 
				  		<input type="text" class="form-control" placeholder="Ingresa el nombre del nuevo carnet" aria-label="Username" aria-describedby="basic-addon1" name="filter" id="filter" required>
					</div>
	        	</form>
	        	{% for car in carnets %}
			        	<tr scope="row">
		        			<td>{{ car.idCarnet }}</td>
		        			<td>{{ car.name }}</td>
		        			{% if car.status == 1%}
			        			<td><button id = "{{ car.idCarnet }}" href = 'javascript:void(0);' type="submit" name="cancel" class="btn btn-outline-danger" onclick = "desactivarCarnet('{{ car.idCarnet }}')">Desactivar</button></td>
			        		{% else %}
			        			<td><button id = "{{ car.idCarnet }}" href = 'javascript:void(0);' type="submit" name="cancel" class="btn btn-outline-success" onclick = "activarCarnet('{{ car.idCarnet }}')">Activar</button></td>
			        		{% endif %}
		        		</tr>
		        {% endfor %}
	        </tbody>
        </table>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
	<script>
    $('#printable').click(function () {
        // var pageTitle = 'Mis Citas',
        //     stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
        //     win = window.open('', 'Print', 'width=1280,height=800');
        // win.document.write('<html><head><title>' + pageTitle + '</title>' +
        //     '<link rel="stylesheet" href="' + stylesheet + '" media="print">' +
        //     '</head><body>' + $('.table')[0].outerHTML + '</body></html>');
        // win.document.close();
        // win.print();
        // win.close();
        // return false;
		window.print();
	});
	var doc = new jsPDF('p', 'pt', 'a4');

	$('#savepdf').click(function () {
		doc.fromHTML( $('#savetopdf')[0]);
		doc.save('carnets.pdf');
	});
	</script>
{% endblock content %}