{% extends "schedueling/base.html" %}
{% load static %}
{% block content %}
<h1>Agregar un servicio</h1>
<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<form action = "/admin_modify_service/" method = "POST">
				{% if flag == 1 %}
					<div class="alert alert-warning" role="alert">
				 		El nombre de servicio que tratas de modificar ya existe.
					</div>	
				{% elif flag == 2 %}
					<div class="alert alert-success" role="alert">
				 		Has modificado el servicio correctamente.
					</div>
				{% elif flag == 3 %}
					<div class="alert alert-danger" role="alert">
				 		Error al modificar el servicio, favor de intentar nuevamente.
					</div>	
				{% endif %}
			    {% csrf_token %}
			    <fieldset>
			        <div class="form-group">
			          <br>
			          <input type="text" id="idService" name = "idService" class="form-control" value="{{serv.idService}}" required hidden>
			          <label for="nameService">Nombre del Servicio</label>
			          <input type="text" placeholder="{{serv.nameService}}" id="nameService" name = "nameService" class="form-control">
			          <br>
			          <label for="startTime">Hora Inicio</label>
			          <input type= "text" placeholder="{{serv.startTime}}" id="startTime" width="276" name="startTime" readonly/>
				      <br>
				      <label for="endTime">Hora Fin</label>
			          <input type= "text" placeholder="{{serv.endTime}}" id="endTime" width="276" name="endTime" readonly />
				      <br>
			          <label for="startDay">Día Inicio</label>
				      <select class="form-control" id="startDay" name="startDay">
				        <option value="{{serv.startDay}}" selected disabled hidden>{{serv.startDay}}</option>
				        <option value="L">L</option>
				        <option value="M">M</option>
				        <option value="MI">MI</option>
				        <option value="J">J</option>
				        <option value="V">V</option>
				        <option value="S">S</option>
				        <option value="D">D</option>
				      </select>
				      <br>
				      <label for="endDay">Día Fin</label>
				      <select class="form-control" id="endDay" name="endDay">
				        <option value="{{serv.endDay}}" selected disabled hidden>{{serv.endDay}}</option>
				        <option value="L">L</option>
				        <option value="M">M</option>
				        <option value="MI">MI</option>
				        <option value="J">J</option>
				        <option value="V">V</option>
				        <option value="S">S</option>
				        <option value="D">D</option>
				      </select>
				      <br>
			          <label for="numOffices">Consultorios Disponibles</label>
			          <input type="number" placeholder= "{{serv.numOffices}}" id="numOffices" class="form-control" name="numOffices">
			          <br>
			          <label for="duration">Duración por cita (medida en horas)</label>
			          <input type="number" id="duration" placeholder= "{{serv.duration}}" class="form-control" name="duration">
			        </div>
			    </fieldset>
			    <button type="submit" class="btn btn-success">AGREGAR</button>
			    <br><br>
			</form>
		</div>
	</div>
</div>

 <script>
    $('#startTime').timepicker({
        uiLibrary: 'bootstrap4'
    });
    $('#endTime').timepicker({
        uiLibrary: 'bootstrap4'
    });
</script>
{% endblock content %}