{% extends "schedueling/base.html" %}
{% load static %}
{% block content %}
<h1>Agregar un servicio</h1>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<form action = "/admin_add_service/" method = "POST">
				{% if flag == 1 %}
					<div class="alert alert-warning" role="alert">
				 		El servicio que tratas de ingresar ya existe.
					</div>	
				{% elif flag == 2 %}
					<div class="alert alert-success" role="alert">
				 		Has agregado el servicio correctamente.
					</div>	
				{% endif %}
			    {% csrf_token %}
			    <fieldset>
			        <div class="form-group">
			          <br>
			          <label for="nameService">Nombre del Servicio</label>
			          <input type="text" id="nameService" name = "nameService" class="form-control" required>
			          <br>
			          <label for="startTime">Hora Inicio</label>
			          <input type= "text" id="startTime" width="276" name="startTime" readonly required/>
				      <br>
				      <label for="endTime">Hora Fin</label>
			          <input type= "text" id="endTime" width="276" name="endTime" readonly required />
				      <br>
			          <label for="startDay">Día Inicio</label>
				      <select class="form-control" id="startDay" name="startDay" required>
				        <option value="" selected disabled hidden>Selecciona Día</option>
				        <option value="L">L</option>
				        <option value="M">M</option>
				        <option value="MI">MI</option>
				        <option value="J">J</option>
				        <option value="V">V</option>
				        <option value="S">S</option>
				        <option value="D">D</option>
				      </select>
				      <br>
				      <label for="endDay">Día Fin</label>
				      <select class="form-control" id="endDay" name="endDay" required>
				        <option value="" selected disabled hidden>Selecciona Día</option>
				        <option value="L">L</option>
				        <option value="M">M</option>
				        <option value="MI">MI</option>
				        <option value="J">J</option>
				        <option value="V">V</option>
				        <option value="S">S</option>
				        <option value="D">D</option>
				      </select>
				      <br>
			          <label for="numOffices">Consultorios Disponibles</label>
			          <input type="number" id="numOffices" class="form-control" name="numOffices" required>
			          <br>
			          <label for="duration">Duración por cita (medida en horas)</label>
			          <input type="number" id="duration" class="form-control" name="duration" required>
			        </div>
			    </fieldset>
			    <button type="submit" class="btn btn-success">AGREGAR</button>
			    <br><br>
			</form>
		</div>
	</div>
</div>

 <script>
    $('#startTime').timepicker({
        uiLibrary: 'bootstrap4'
    });
    $('#endTime').timepicker({
        uiLibrary: 'bootstrap4'
    });
</script>
{% endblock content %}