{% extends "schedueling/base.html" %}
{% load static %}
{% block content %}
	<h1>¡Bienvenido {{user.username}}! </h1>
    <!--<h3>Fecha: {{currDate}}</h3>-->
    <!--<h3>Carnet: {{request.session.carnet}}</h3>-->
    <br>
    <div id = "savetopdf" class = "content-section center container">
		<legend class = "border-bottom mb-4">SERVICIOS</legend>
		<button id="printable" class="btn btn-dark">Imprimir servicios</button>
		<button id="savepdf" class="btn btn-dark">Descargar servicios</button>
		<br><br>
        <table class="table">
        	<thead class="thead-dark">
        		<th scope="col">Nombre</th>
        		<th scope="col">Hora Inicio</th>
        		<th scope="col">Hora Fin</th>
        		<th scope="col">Día Inicio</th>
        		<th scope="col">Día Fin</th>
        		<th scope="col">Consultorios</th>
        		<th scope="col">Duración cita</th>
        		<th scope="col">Status</th>
        		<th scope="col"> </th>
        	</thead>
	        <tbody>
	        	{% for srv in services %}
		        	<tr scope="row">
	        			<td>{{ srv.nameService }}</td>
	        			<td>{{ srv.startTime }}</td>
	        			<td>{{ srv.endTime }}</td>
	        			<td>{{ srv.startDay }}</td>
	        			<td>{{ srv.endDay }}</td>
	        			<td>{{ srv.numOffices }}</td>
	        			<td>{{ srv.duration }}</td>
	        			{% if srv.status == 1%} <!-- Active -->
	        				<td><button  id = "{{ srv.idService }}" href = 'javascript:void(0);' type="submit" name="deactivate" class="btn btn-outline-danger" onclick = "desactivarServicio('{{ srv.idService }}')">Desactivar</button></td>
	        			{% else %} <!-- Inactive -->
	        				<td><button  id = "{{ srv.idService }}" href = 'javascript:void(0);' type="submit" name="activate" class="btn btn-outline-success" onclick = "activarServicio('{{ srv.idService }}')">Activar</button></td>
	        			{% endif %}
	        			<td><a href = "{% url 'admin_modify_service' %}?idService={{ srv.idService }}" name="cancel" class="btn btn-outline-primary">Modificar</a></td>
	        		</tr>
		        {% endfor %}
	        </tbody>
        </table>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
	<script>
    $('#printable').click(function () {
        // var pageTitle = 'Mis Citas',
        //     stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
        //     win = window.open('', 'Print', 'width=1280,height=800');
        // win.document.write('<html><head><title>' + pageTitle + '</title>' +
        //     '<link rel="stylesheet" href="' + stylesheet + '" media="print">' +
        //     '</head><body>' + $('.table')[0].outerHTML + '</body></html>');
        // win.document.close();
        // win.print();
        // win.close();
        // return false;
		window.print();
	});
	var doc = new jsPDF('p', 'pt', 'a4');

	$('#savepdf').click(function () {
		doc.fromHTML( $('#savetopdf')[0]);
		doc.save('servicios.pdf');
	});
	</script>
{% endblock content %}