{% extends "schedueling/base.html" %}
{% load static %}
{% block content %}
 	<script type="text/javascript" src="{% static 'schedueling/js/main.js' %}"></script>
	<h1>¡Bienvenido {{user.username}}! </h1>
    <!--<h3>Carnet: {{user.carnet}}</h3>-->
    <br>
    <div  id="savetopdf"  class = "content-section center">
		<h2>TUS CITAS ANTERIORES</h2>
		<br>
        {% if flag == 1 %}
	        {% if num > 0 %}
		        <div class="alert alert-success" role="alert">
				  {{msg}}
				</div>
	        {% else %}
		        <div class="alert alert-danger" role="alert">
				  {{msg}}
				</div>
	        {% endif %}
        {% endif %}
        <table class="table">
        	<thead class="thead-dark">
        		<th scope="col">Id Cita</th>
        		<th scope="col">Fecha</th>
        		<th scope="col">Id Servicio</th>
        		<th scope="col">Status</th>
        	</thead>
	        <tbody>
	        	{% for apt in appointments %}
	        		{% csrf_token %}
	        		{% if apt.date|date:'Y-m-d H:i:s' < currDate %}
		        		<tr scope="row">
		        			<td>{{ apt.idAppointment }}</td>
		        			<td>{{ apt.date }}</td>
		        			<td>{{ apt.idService_id }}</td>
		        			{% if apt.status == 1%}
		        				<td><p name="cancel" class="btn btn-primary" style="cursor: default;">Completada</p></td>
		        			{% else %}
		        				<td><p class="btn btn-light" style="cursor: default;">Cancelada</p></td>
		        			{% endif %}
		        		</tr>
		        	{% endif %}
		        {% endfor %}
	        </tbody>
        </table>
	</div>
{% endblock content %}
