{% extends "schedueling/base.html" %}
{% load static %}
{% block content %}
	<h1>¡Bienvenido {{user.username}}! </h1>
    <!--<h3>Fecha: {{currDate}}</h3>-->
    <!--<h3>Carnet: {{request.session.carnet}}</h3>-->
    <br>
    <div id = "savetopdf" class = "content-section center">
		<legend class = "border-bottom mb-4">TUS CITAS</legend>
		<button id="printable" class="btn btn-dark">Imprimir citas</button>
		<button id="savepdf" class="btn btn-dark">Descargar citas</button>
		<br><br>
		{%if user.email is not null %}
			<form method="post" action="/send_mail/">
				{% csrf_token %}
				<button type="submit" id="send" class="btn btn-dark" name = "carnet" value = "{{request.session.carnet}}">Enviar citas por correo</button>
			</form>
		{% endif %}
		<br>
        {% if flag == 2 %}
	        <div class="alert alert-success" role="alert">
	     		Hemos enviado tus citas por correo, favor de revisar tu bandeja de entrada.
			</div>	
        {% endif %}
        <table class="table">
        	<thead class="thead-dark">
        		<th scope="col">Id Cita</th>
        		<th scope="col">Fecha</th>
        		<th scope="col">Id Servicio</th>
        		<th scope="col">Nombre Servicio</th>
        		<th scope="col">Status</th>
        	</thead>
	        <tbody>
	        	<form method="GET" action="/appointments">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
				    		<span class="input-group-text" id="basic-addon1">Busca una cita por servicio</span>
				  		</div> 
				  		<input type="number" class="form-control" placeholder="Ingresa el ID del servicio" aria-label="Username" aria-describedby="basic-addon1" name="filter" id="filter">
					</div>
	        	</form>
	        	{% for apt in appointments %}
	        		{% csrf_token %}
		        	{% if request.session.carnet == apt.carnet_id %}
		        		{% if apt.date|date:'Y-m-d H:i:s' >= currDate %}
			        		<tr scope="row">
			        			<td>{{ apt.idAppointment }}</td>
			        			<td>{{ apt.date }}</td>
			        			<td>{{ apt.idService_id }}</td>
			        			{% for srv in services %}
			        				{% if apt.idService_id == srv.idService %}
							    		<td>{{srv.nameService}}</td>
			        				{% endif %}
							    {% endfor %}
			        			{% if apt.status == 1%}
			        				<td><button  id = "{{ apt.idAppointment }}" href = 'javascript:void(0);' type="submit" name="cancel" class="btn btn-danger" onclick = "cancelar('{{ apt.idAppointment }}')">Cancelar</button>
			        				&nbsp <button  id = "resc{{apt.idAppointment}}" href = 'javascript:void(0);' type="submit" name="reschedule" class="btn btn-primary" onclick = "reagendar('{{ apt.idAppointment }}')">Reagendar</button></td>
			        			{% else %}
			        				<td><button type="button" class="btn btn-light" disabled id="{{ apt.idAppointment }}">Cancelada</button></td>
			        			{% endif %}
			        		</tr>
			        	{% endif %}
		        	{% endif %}
		        {% endfor %}
	        </tbody>
        </table>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
	<script>
    $('#printable').click(function () {
        // var pageTitle = 'Mis Citas',
        //     stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
        //     win = window.open('', 'Print', 'width=1280,height=800');
        // win.document.write('<html><head><title>' + pageTitle + '</title>' +
        //     '<link rel="stylesheet" href="' + stylesheet + '" media="print">' +
        //     '</head><body>' + $('.table')[0].outerHTML + '</body></html>');
        // win.document.close();
        // win.print();
        // win.close();
        // return false;
		window.print();
	});
	var doc = new jsPDF('p', 'pt', 'a4');

	$('#savepdf').click(function () {
		doc.fromHTML( $('#savetopdf')[0]);
		doc.save('citas.pdf');
	});
	</script>
{% endblock content %}
