{% extends "schedueling/base.html" %}
{% load static %}
{% block content %}
 	<script type="text/javascript" src="{% static 'schedueling/js/main.js' %}"></script>
	<h1>¡Bienvenido {{user.username}}! </h1>
    <!--<h3>Carnet: {{user.carnet}}</h3>-->
    <br>
    <div  id="savetopdf"  class = "content-section center">
		<legend id="pageTitle" class = "border-bottom mb-4">TUS CITAS ANTERIORES</legend>
		<button id="printable" class="btn btn-dark">Imprimir citas</button>
		<button id="savepdf" class="btn btn-dark">Descargar citas</button>
		<br><br>
		{%if user.email is not null %}
		<form method="post" action="/smP/">
			{% csrf_token %}
			<button type="submit" id="send" class="btn btn-dark" name = "carnet" value = "{{request.session.carnet}}">Enviar citas por correo</button>
		</form>
		{% endif %}
		<br>
        {% if flag == 1 %}
	        {% if num > 0 %}
		        <div class="alert alert-success" role="alert">
				  {{msg}}
				</div>
	        {% else %}
		        <div class="alert alert-danger" role="alert">
				  {{msg}}
				</div>
	        {% endif %}
        {% endif %}
        <table class="table">
        	<thead class="thead-dark">
        		<th scope="col">Id Cita</th>
        		<th scope="col">Fecha</th>
        		<th scope="col">Id Servicio</th>
        		<th scope="col">Nombre Servicio</th>
        		<th scope="col">Status</th>
        	</thead>
	        <tbody>
	        	<form method="GET" action="/appointmentsPast">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
				    		<span class="input-group-text" id="basic-addon1">Busca una cita por servicio</span>
				  		</div> 
				  		<input type="number" class="form-control" placeholder="Ingresa el ID del servicio" aria-label="Username" aria-describedby="basic-addon1" name="filter" id="filter">
					</div>
	        	</form>
	        	{% for apt in appointments %}
	        		{% csrf_token %}
		        	{% if request.session.carnet == apt.carnet_id %}
		        		{% if apt.date|date:'Y-m-d H:i:s' < currDate %}
			        		<tr scope="row">
			        			<td>{{ apt.idAppointment }}</td>
			        			<td>{{ apt.date }}</td>
			        			<td>{{ apt.idService_id }}</td>
			        			{% for srv in services %}
			        				{% if apt.idService_id == srv.idService %}
							    		<td>{{srv.nameService}}</td>
			        				{% endif %}
							    {% endfor %}
			        			{% if apt.status == 1%}
			        				<td><p name="cancel" class="btn btn-primary" style="cursor: default;">Completada</p></td>
			        			{% else %}
			        				<td><p class="btn btn-light" style="cursor: default;">Cancelada</p></td>
			        			{% endif %}
			        		</tr>
			        	{% endif %}
		        	{% endif %}
		        {% endfor %}
	        </tbody>
        </table>
	</div>
	<!-- <script href="{% static 'schedueling/js/jspdf.js' %}"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
	<script>
			$('#printable').click(function () {
				// var pageTitle = 'Mis Citas',
				//     stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
				//     win = window.open('', 'Print', 'width=1280,height=800');
				// win.document.write('<html><head><title>' + pageTitle + '</title>' +
				//     '<link rel="stylesheet" href="' + stylesheet + '" media="print">' +
				//     '</head><body>' + $('.table')[0].outerHTML + '</body></html>');
				// win.document.close();
				// win.print();
				// win.close();
				// return false;
				window.print();
			});
			var doc = new jsPDF('p', 'pt', 'a4');

			$('#savepdf').click(function () {
				doc.fromHTML( $('#savetopdf')[0]);
				doc.save('citasprevias.pdf');
			});
			</script>
{% endblock content %}
