{% extends "schedueling/base.html" %}
{% load static %}
{% block content %}
<section class="container" style="text-align: justify;text-justify: inter-word;">
    <h1>Aviso de Privacidad</h1>
    <br>
    <div class="row">
        <div class="col s10 offset-s1">
            <p>
            De acuerdo a lo previsto en la Ley Federal de Protección de Datos
Personales en Posesión de los Particulares y en el reglamento de
dicha norma; “Instituto Mexicano de Oftalmología I.A.P. (IMO)” con domicilio ubicado en
Circuito Exterior Estadio Corregidora S/N, Col. Colinas del Cimatario
C.P. 76090, Querétaro, Qro. Mx.; le informa a la comunidad
que los datos personales tanto de pacientes como familiares que sean recabados a través de formatos de registro, solicitudes e información
general que proporcione a la Institución de Asistencia Privada, a través de
medios electrónicos o impresos, tienen como finalidad el desarrollo de servicios médicos, así como el
mantener comunicación permanente con los pacientes, familiares y demás miembros de la comunidad; los cuales
serán resguardados en una base de datos bajo la más estricta responsabilidad, seguridad y confidencialidad por el Instituto Mexicano de Oftalmología I.A.P.
</p>
<p>
 <b>¿Cuáles son las finalidades del tratamiento de datos personales?</b>
 <br>
 <br>
• Registro de servicios médicos
<br>
• Seguimiento de pacientes
</p>
<br>
<p>
<b>¿Los medios para ejercer los derechos de acceso, rectificación, cancelación u oposición de los datos?</b>
<br>
<br>
El titular de los datos mediante un escrito dirigido a Dirección General
del Instituto podrá tener acceso, rectificación, cancelación u oposición
de los datos.
</p>
<br>
<p>
<b>¿Cuál es el procedimiento y medio por el cual la Institución comunicará a los titulares de los datos de cambios al aviso de privacidad?</b>
<br>
<br>
En caso de algún cambio al presente aviso de privacidad, el Instituto
hará del conocimiento al titular por escrito o medios electrónicos.
Conforme a lo establecido por la Ley Federal de Protección de Datos
Personales en Posesión de los Particulares, con la firma del Contrato
de Servicios Médicos y con el presente Aviso de Privacidad; el
paciente o quien ejerce la patria potestad manifiesta su conformidad y consentimiento expreso para el tratamiento de los datos
recabamos.
</p>
        </div>
    </div>
</section>
<br>
<br>

{% endblock content %}