{% extends "schedueling/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class = "content-section">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Ingrese su carnet para poder ingresar</legend>
                <div>
                    <span>Carnet</span>
                    <input type="text" name="carnet" placeholder="ingrese aquí">
                </div>
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-primary" type="submit">Validar carnet</button>
            </div>
        </form>
    </div>
{% endblock content %}
