{% extends "schedueling/base.html" %}
{% load static %}
{% block content %}
<div class="alert alert-success" role="alert">
  ¡Listo! Cancelamos tu cita anterior, favor de volver a agendar.
</div>
<h1>Agenda una cita</h1>
<form action = "/add_appointment_form_submission/" method = "POST">
    {% csrf_token %}
      <fieldset disabled>
        <div class="form-group">
          <label for="disabledTextInput">Correo electrónico registrado</label>
          <input type="text" id="disabledTextInput" class="form-control" value="{{ user.email }}">
          <label for="disabledTextInput">Nombre de usuario registrado</label>
          <input type="text" id="disabledTextInput" class="form-control" value="{{ user.username }}">
        </div>
      </fieldset>
        <div class="form-group">
        <label for="idService">Selecciona un servicio</label>
          <select hidden class="icons" id="idService" name="idService">
              <option value="" selected disabled hidden>Servicios disponibles ▽ </option>
              {% for nameService in services %}
                {% if nameService.status == 1 %} <!-- Active service has status 0 -->
                    {% if nameService.idService == 1 %} 
                        <option data-icon="{% static 'schedueling/img/protesis.png' %}" value="{{nameService.idService}}">&nbsp;{{nameService.nameService}}</option>
                    {% elif nameService.idService == 2 %}
                        <option data-icon="{% static 'schedueling/img/bajavision.png' %}" value="{{nameService.idService}}">&nbsp;{{nameService.nameService}}</option>
                    {% elif nameService.idService == 3 %}
                        <option data-icon="{% static 'schedueling/img/imagenologia.png' %}" value="{{nameService.idService}}">&nbsp;{{nameService.nameService}}</option>
                    {% elif nameService.idService == 4 %}
                        <option data-icon="{% static 'schedueling/img/retina.png' %}" value="{{nameService.idService}}">&nbsp;{{nameService.nameService}}</option>
                    {% elif nameService.idService == 5 %}
                        <option data-icon="{% static 'schedueling/img/cornea.png' %}" value="{{nameService.idService}}">&nbsp;{{nameService.nameService}}</option>
                    {% elif nameService.idService == 6 %}
                        <option data-icon="{% static 'schedueling/img/glaucoma.png' %}" value="{{nameService.idService}}">&nbsp;{{nameService.nameService}}</option>
                    {% elif nameService.idService == 7 %}
                        <option data-icon="{% static 'schedueling/img/oftalmopediatria.png' %}" value="{{nameService.idService}}">&nbsp;{{nameService.nameService}}</option>
                    {% endif %}
                {% endif %}
              {% endfor %}
          </select>
          <br>
          <label for="datetimepicker">Seleccione la fecha</label>
          <input name = "date" id="datetimepicker" type="text" autocomplete="off" readonly="readonly">
        </div>
        <div class="form-group">
            <input type="hidden" id="status" name="status" value="1">
            <input type="hidden" id="carnet" name="carnet" value="{{request.session.carnet}}">
        </div>
        <button type="submit" class="btn btn-success">Confirmar</button>
    </form>
    {% if message %}
    <br>
    <div class="alert alert-success">{{message}}</div>
    {% elif error %}
    <br>
    <div class="alert alert-danger">{{error}}</div>
    {% for idAppointment in takenAppointments %}
    <h1>{{idAppointment.date}}</h1>
    {% endfor %}
    {% endif %}
    <br>
    <br>
<script>
    $("#idService").change(function () {
        var idService = $(this).val();
        var dtot = new Date(); //Variable for current date
        current_date = dtot.getDay();
        console.log(current_date);
        $.ajax({
        url: '/ajax/validate_service_date/',
        data: {
            'idService': idService
        },
        dataType: 'json',
        success: function (data) {
            if (data.is_available) {
                if(idService == 1){
                    var disabledDays = [0,6];
                    var allowedTimes = ['08:00','16:00'];
                    var stepHours = 60; //Default value in minutes
                    if(disabledDays.indexOf(current_date) > -1){
                        return;
                    }
                    else{
                        $.datetimepicker.setLocale('es');
                        $("#datetimepicker").datetimepicker({
                        minTime: allowedTimes[0],
                        maxTime: allowedTimes[1],
                        step: stepHours,
                        format: 'Y-m-d H:i',
                        minDate:"1",
                        disabledWeekDays: disabledDays,
                        });
                    }
                }
                if(idService == 2){
                    var disabledDays = [0,6];
                    var allowedTimes = ['08:00','16:00'];
                    var stepHours = 60; //Default value in minutes
                    if(disabledDays.indexOf(current_date) > -1){
                        return;
                    }
                    else{
                        $.datetimepicker.setLocale('es');
                        $("#datetimepicker").datetimepicker({
                        minTime: allowedTimes[0],
                        maxTime: allowedTimes[1],
                        step: stepHours,
                        format: 'Y-m-d H:i',
                        minDate:"1",
                        disabledWeekDays: disabledDays,
                        });
                    }
                }
                if(idService == 3){
                    var disabledDays = [0,6];
                    var allowedTimes = ['08:00','16:00'];
                    var stepHours = 60; //Default value in minutes
                    if(disabledDays.indexOf(current_date) > -1){
                        return;
                    }
                    else{
                        $.datetimepicker.setLocale('es');
                        $("#datetimepicker").datetimepicker({
                        minTime: allowedTimes[0],
                        maxTime: allowedTimes[1],
                        step: stepHours,
                        format: 'Y-m-d H:i',
                        minDate:"1",
                        disabledWeekDays: disabledDays,
                        });
                    }
                }
                if(idService == 4){
                    var disabledDays = [0];
                    var allowedTimes = ['08:00','16:00'];
                    var stepHours = 60; //Default value in minutes
                    if(disabledDays.indexOf(current_date) > -1){
                        return;
                    }
                    else{
                        $.datetimepicker.setLocale('es');
                        $("#datetimepicker").datetimepicker({
                        minTime: allowedTimes[0],
                        maxTime: allowedTimes[1],
                        step: stepHours,
                        format: 'Y-m-d H:i',
                        minDate:"1",
                        disabledWeekDays: disabledDays,
                        onChangeDateTime: function(dp,$input){console.log($('#datetimepicker').text($input.val()));}
                        });
                    }
                }
                if(idService == 5){
                    var disabledDays = [0,6];
                    var allowedTimes = ['08:00','16:00'];
                    var stepHours = 60; //Default value in minutes
                    if(disabledDays.indexOf(current_date) > -1){
                        return;
                    }
                    else{
                        $.datetimepicker.setLocale('es');
                        $("#datetimepicker").datetimepicker({
                        minTime: allowedTimes[0],
                        maxTime: allowedTimes[1],
                        step: stepHours,
                        format: 'Y-m-d H:i',
                        minDate:"1",
                        disabledWeekDays: disabledDays,
                        });
                    }
                }
                if(idService == 6){
                    var disabledDays = [0];
                    var allowedTimes = ['08:00','16:00'];
                    var stepHours = 60; //Default value in minutes
                    if(disabledDays.indexOf(current_date) > -1){
                        return;
                    }
                    else{
                        $.datetimepicker.setLocale('es');
                        $("#datetimepicker").datetimepicker({
                        minTime: allowedTimes[0],
                        maxTime: allowedTimes[1],
                        step: stepHours,
                        format: 'Y-m-d H:i',
                        minDate:"1",
                        disabledWeekDays: disabledDays,
                        });
                    }
                }
                if(idService == 7){
                    var disabledDays = [0,6];
                    var allowedTimes = ['08:00','16:00'];
                    var stepHours = 60; //Default value in minutes
                    if(disabledDays.indexOf(current_date) > -1){
                        return;
                    }
                    else{
                        $.datetimepicker.setLocale('es');
                        $("#datetimepicker").datetimepicker({
                        minTime: allowedTimes[0],
                        maxTime: allowedTimes[1],
                        step: stepHours,
                        format: 'Y-m-d H:i',
                        minDate:"1",
                        disabledWeekDays: disabledDays,
                        });
                    }
                }
                if(idService == 8){
                    var disabledDays = [0,1,2];
                    var allowedTimes = ['08:00','16:00'];
                    var stepHours = 60; //Default value in minutes
                    if(disabledDays.indexOf(current_date) > -1){
                        return;
                    }
                    else{
                        $.datetimepicker.setLocale('es');
                        $("#datetimepicker").datetimepicker({
                        minTime: allowedTimes[0],
                        maxTime: allowedTimes[1],
                        step: stepHours,
                        format: 'Y-m-d H:i',
                        minDate:"1",
                        disabledWeekDays: disabledDays,
                        });
                    }
                }                                                                                                              
            }
        }
        });

    });
    </script>
<script>
    $("#datetimepicker").change(function () {
      console.log( $(this).val() );
    });
</script>
<!-- <script>
        $(function () {
            $.datetimepicker.setLocale('es');
            $("#datetimepicker").datetimepicker({
            format: 'Y-m-d H:i',
            minDate:"1",
            disabledWeekDays: [0],
            });
        });
</script> -->
{% endblock content %}