{% extends "schedueling/base.html" %}
{% load static %}
{% block content %}
<h1>Preguntas Frecuentes</h1>
<br>
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq01" aria-expanded="false" aria-controls="faq01">
                ¿CUÁLES SON LOS REQUISITOS PARA ACUDIR A CONSULTA?
            </button>
          </h5>
        </div>
        <div id="faq01" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <b>Requisitos Pacientes de Primera vez presentar cualquier identificaci&oacute;n oficial: </b><br>&bull; Acta de nacimiento. <br>&bull; INE o Pasaporte. <br>&bull; CURP <br><b>Citas subsecuentes:</b> <br>&bull; Carnet obligatorio <br><b>Nota:</b> Si no lo presenta el d&iacute;a de su cita, no tendr&aacute; acceso a tu consulta. En caso de p&eacute;rdida se aplicar&aacute; un costo de $50.00 por su reposici&oacute;n (m&aacute;ximo 2 reposiciones).
          </div>
        </div>
    </div>    
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq02" aria-expanded="false" aria-controls="faq02">
            ¿CUÁL ES PROCESO DE ADMISIÓN A CONSULTA?
          </button>
        </h5>
      </div>
      <div id="faq02" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            Cuando acudas por primera vez al IMO, comenzar&aacute; el procedimiento administrativo para iniciar tu Carnet e Historia cl&iacute;nica para lo cual te solicitar&aacute;n en consultoria los documentos indicados en Requisitos (Acta de nacimiento, CURP, IFE o Pasaporte). En consulta se llevar&aacute; a cabo la revisi&oacute;n completa del ojo que incluye dilataci&oacute;n pupilar y consiste en la aplicaci&oacute;n de unas gotas que ocasionan que la pupila del ojo se haga grande permiti&eacute;ndonos de esta forma revisar el interior del mismo cuando es necesario; por lo tanto es importante que vengas con un solo acompa&ntilde;ante para tu revisi&oacute;n. Con el interrogatorio y la exploraci&oacute;n se realiza un diagn&oacute;stico y, en caso de requerirlo, se te indicar&aacute;n estudios complementarios. <br><b>Consulta Subsecuente</b><br> Cuando el paciente ya ha recibido un diagn&oacute;stico se programa una cita subsecuente en el servicio de Alta Especialidad para continuar el manejo de cada padecimiento ya sea con medicamentos o quir&uacute;rgicamente.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq03" aria-expanded="false" aria-controls="faq03">
            ¿QUÉ HORARIOS TIENE EL INSTITUTO?
          </button>
        </h5>
      </div>
      <div id="faq03" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            Lunes a viernes de 7:00 a 15:00 hrs. S&aacute;bados de 8:00 a 14:00 hrs. <br>Urgencias de lunes a viernes hasta las 18:00 hrs. <br>Centros de Visi&oacute;n <br>Alfajayucan <br>Lunes a viernes de 8:00 a 15:00 hrs. <br>S&aacute;bado de 9:00 a 14:00 hrs. <br>Jalpan<br> Lunes a viernes de 8:00 a 15:00 hrs. <br>S&aacute;bado de 9:00 a 14:00 hrs.
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq04" aria-expanded="false" aria-controls="faq04">
                ¿CUÁNTO TENGO QUE PAGAR POR CONSULTA?
            </button>
          </h5>
        </div>
    
        <div id="faq04" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            La cuota de recuperaci&oacute;n es muy peque&ntilde;a y es &uacute;nica. Si requieres de alg&uacute;n estudio especial o alg&uacute;n procedimiento se realiza un estudio m&eacute;dico socio-econ&oacute;mico a cada paciente y el sistema arroja la clasificaci&oacute;n econ&oacute;mica sobre la que se basar&aacute; el costo de recuperaci&oacute;n de los servicios.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq06" aria-expanded="true" aria-controls="faq06">
                ¿TENGO IMSS, ME PUEDEN ATENDER?
            </button>
          </h5>
        </div>
    
        <div id="faq06" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
            No importa que afiliaci&oacute;n m&eacute;dica tengas, atendemos a cualquier persona.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq07" aria-expanded="true" aria-controls="faq07">
                ¿SE REALIZA CUALQUIER TIPO DE CIRUGÍA OFTALMOLÓGICA?
            </button>
          </h5>
        </div>
    
        <div id="faq07" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
          <div class="card-body">
            S&iacute;. Esta es un &aacute;rea compleja, en los &uacute;ltimos a&ntilde;os hemos logrado mejores resultados visuales mediante el uso de equipos muy avanzados para la cirug&iacute;a intraocular. Adem&aacute;s nuestros cirujanos se encuentran en permanente actualizaci&oacute;n para lograr la excelencia en el manejo del paciente. <br>En el IMO se realizan todos los procedimientos quir&uacute;rgicos oftalmol&oacute;gicos existentes. La cirug&iacute;a es ambulatoria, es decir, los pacientes se operan y se dan de alta el mismo d&iacute;a. Por supuesto, para ello, el &aacute;rea de medicina interna y de anestesia del hospital nos otorgan el visto bueno para la realizaci&oacute;n de los procedimientos.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingEight">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq08" aria-expanded="true" aria-controls="faq08">
                SÓLO QUIERO REALIZARME UN EXAMEN DE LA VISTA. ¿TENGO QUE REALIZAR TODO EL PROCESO?
            </button>
          </h5>
        </div>
    
        <div id="faq08" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
          <div class="card-body">
            S&iacute;. Es requisito pasar a Consulta de Primera vez para realizar el diagn&oacute;stico.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingNine">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq09" aria-expanded="true" aria-controls="faq09">
                VIVO EN OTRO ESTADO DE LA REPÚBLICA MEXICANA. ¿ME PUEDEN ATENDER?
            </button>
          </h5>
        </div>
    
        <div id="faq09" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
          <div class="card-body">
            S&iacute;. Cualquier persona de cualquier parte del pa&iacute;s puede ser atendida en el IMO.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTen">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq10" aria-expanded="true" aria-controls="faq10">
                ¿MI FAMILIA TAMBIÉN PUEDE SER ATENDIDA?
            </button>
          </h5>
        </div>
    
        <div id="faq10" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
          <div class="card-body">
            S&iacute;. Cada miembro de tu familia puede ser atendido de forma individual. Cada uno debe pasar por el estudio m&eacute;dico socio-econ&oacute;mico a trabajo social en consulta de Primera vez.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingEleven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq11" aria-expanded="true" aria-controls="faq11">
                ¿PUEDO INGRESAR A LA LISTA DE ESPERA PARA TRASPLANTE DE CÓRNEA?
            </button>
          </h5>
        </div>
    
        <div id="faq11" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
          <div class="card-body">
            S&iacute;. Llevamos todo el protocolo de trasplante de c&oacute;rneas tanto del CETQRO como del CENATRA.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwelve">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq12" aria-expanded="true" aria-controls="faq12">
                ¿CUÁL ES EL TIEMPO DE ESPERA PARA LAS CIRUGÍAS?
            </button>
          </h5>
        </div>
    
        <div id="faq12" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
          <div class="card-body">
            En el momento que realice el pago de cirug&iacute;a, el m&eacute;dico de la especialidad le indicar&aacute; dependiendo la agenda del m&eacute;dico.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThirteen">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq13" aria-expanded="true" aria-controls="faq13">
                ¿TODOS LOS DOCTORES YA SON OFTALMÓLOGOS?
            </button>
          </h5>
        </div>
    
        <div id="faq13" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion">
          <div class="card-body">
            Todos lo son y est&aacute;n preparados para la atenci&oacute;n que usted necesita.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFourteen">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq14" aria-expanded="true" aria-controls="faq14">
                ¿EL TRATAMIENTO ES GRATIS?
            </button>
          </h5>
        </div>
    
        <div id="faq14" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordion">
          <div class="card-body">
            Tenemos muestras m&eacute;dicas, que si tenemos el medicamento que le recomiendan con gusto lo proporcionamos, en caso de que no comprara su tratamiento.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFifteen">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq15" aria-expanded="true" aria-controls="faq15">
                ¿SE REALIZAN TODOS LOS ESTUDIOS AQUÍ?
            </button>
          </h5>
        </div>
    
        <div id="faq15" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordion">
          <div class="card-body">
            Tenemos todos los estudios necesarios solo que si necesita agendarlo.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSixteen">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq16" aria-expanded="true" aria-controls="faq16">
                ¿EMITEN CERTIFICADOS MÉDICOS?
            </button>
          </h5>
        </div>
    
        <div id="faq16" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordion">
          <div class="card-body">
            En caso necesario se le brinda un resumen m&eacute;dico.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSeventeen">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq17" aria-expanded="true" aria-controls="faq17">
                ¿HAY ATENCIÓN PRIORITARIA?
            </button>
          </h5>
        </div>
    
        <div id="faq17" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordion">
          <div class="card-body">
            A quienes lo requieran, conforme a sus necesidades.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingEighteen">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq18" aria-expanded="true" aria-controls="faq18">
                ¿EL HOSPITAL CUENTA CON INTERNAMIENTO?
            </button>
          </h5>
        </div>
    
        <div id="faq18" class="collapse" aria-labelledby="headingEighteen" data-parent="#accordion">
          <div class="card-body">
            No, es una cirug&iacute;a ambulatoria.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingNineteen">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq19" aria-expanded="true" aria-controls="faq19">
                ¿QUÉ SIGNIFICAN LAS SIGLAS I.A.P.?
            </button>
          </h5>
        </div>
    
        <div id="faq19" class="collapse" aria-labelledby="headingNineteen" data-parent="#accordion">
          <div class="card-body">
            &ldquo;Instituci&oacute;n de Asistencia Privada&rdquo;. Significa que ofrecemos servicios asistenciales para procurar la salud visual principalmente a personas de escasos recursos.
          </div>
        </div>
    </div>                                
</div>
<br>
<br>
{% endblock content %}