{% extends "schedueling/base.html" %}
{% block content %}
	<h1>¡Bienvenido {{user.username}}! </h1>
    <!--<h3>Carnet: {{user.carnet}}</h3>-->
    <div class = "content-section">
        <form method = "POST" action = "account_mobile">
            {% csrf_token %}
            <legend class = "border-bottom mb-4">Activa tu cuenta para poder acceder vía Android o iOS</legend>
            {% if flag == 1 %}
                <div class="alert alert-success" role="alert">
                    Asociaste correctamente tu cuenta, ahora puedes acceder utilizando las aplicaciones iOS y/o Android.
                </div>
            {% elif flag == 2 %}
                <div class="alert alert-info" role="alert">
                    Tu cuenta ya se encontraba asociada, ya puedes acceder vía las aplicaciones iOS y/o Android.
                </div>
            {% endif %}
            <div class="form-group">
                <label for="emailUser">Dirección de correo</label>
                <input type="text" class="form-control" name="emailUser" value="{{user.email}}" required >
            </div>
            <div class="form-group">
                <label for="passwd">Contraseña</label>
                <input type="password" class="form-control" name = "passwd" id="passwd" placeholder="Password" aria-describedby="passwd" required>
                 <small id="passwd" class="form-text text-muted">Puede ser la misma que utilizas para acceder a tu cuenta web.</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock content %}
