{% extends "schedueling/base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}
{% block content %}
    <div class = "content-section">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Iniciar sesión</legend>
                {{ form|crispy }}
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-primary" type="submit">Iniciar sesión</button>
            </div>
        </form>
        <div class="border-top pt-3 pad">
            <h4>Ingresa con redes sociales</h4>
            <a href="{% provider_login_url 'facebook'%}">
                <button type="button" name="button" class="transparent">
                    <i class="fa fa-facebook fa-2x pad" aria-hidden="true"></i>
                </button>
            </a>

            <a href = "{% url 'social:begin' 'github' %}">
                <button type="button" name="button" class="transparent">
                    <i class="fa fa-github fa-2x pad" aria-hidden="true"></i>
                 </button>
            </a>

            <a href="{% url 'social:begin' 'twitter' %}">
                <button type="button" name="button" class="transparent">
                    <i class="fa fa-twitter fa-2x pad" aria-hidden="true"></i>
                </button>
            </a>

            <a href="{% provider_login_url 'google'%}">
                <button type="button" name="button" class="transparent">
                    <i class="fa fa-google fa-2x pad" aria-hidden="true"></i>
                </button>
            </a>

            <a href="{% url 'social:begin' 'linkedin-oauth2' %}">
                <button type="button" name="button" class="transparent">
                    <i class="fa fa-linkedin fa-2x pad" aria-hidden="true"></i>
                </button>
            </a>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                ¿No tienes una cuenta? <a class="ml-2" href="{% url 'register' %}">Registrarse</a>
            </small>
            <br>
            <small class="text-muted">
                ¿Olvidaste tu contraseña? <a class="ml-2" href="{% url 'account_password_reset' %}">Recupérala</a>
            </small>
        </div>
    </div>
{% endblock content %}