{% extends "schedueling/base.html" %}
{% block content %}
	<h1>¡Bienvenido {{user.username}}! </h1>
    <!--<h3>Email: {{user.email}}</h3>-->
    <div class = "content-section">
        <form method = "POST">
            {% csrf_token %}
            <legend class = "border-bottom mb-4">Ajustes básicos de cuenta</legend>
            {% if flag == 1 %}
                <div class="alert alert-success" role="alert">
                    Actualizaste tu nombre de usuario correctamente.
                </div>
            {% elif flag == 2 %}
                <div class="alert alert-danger" role="alert">
                    El nombre de usuario elegido no está disponible.
                </div>
            {% endif %}
            <p>Puedes cambiar tu nombre de usuario llenando la siguiente forma.</p>
            <span>Username nuevo:</span>
            <input type="text" name="username" placeholder="{{ uname }}" required>
            <input type="text" name="actusername" value="{{ uname }}" hidden>
            <br><br>
            <div class = "form-group">
                <button class = "btn btn-primary" type="submit">Guardar Cambios</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <p>Ajustes avanzados</p>
            <small class="text-muted">
                ¿Quieres restablecer tu contraseña? <a class="ml-2" href="{% url 'account_password_change' %}">Restablecer</a>
            </small>
            <br>
            <small class="text-muted">
                ¿Quieres modificar tu(s) correo(s) electrónico(s)? <a class="ml-2" href="{% url 'account_email' %}">Modificar</a>
            </small>
            {% if user.email is not None%}
                <br>
                <small class="text-muted">
                    ¿Quieres activar tu cuenta móvil? <a class="ml-2" href="{% url 'account_mobile' %}">Activar</a>
                </small>
            {% endif %}
        </div>
    </div>

{% endblock content %}
