{% extends "schedueling/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class = "content-section">
        <form method = "POST">

            {% csrf_token %}
            <fieldset class = "form-group">
                {% if flag == 1 %}
                    <span>Carnet</span>
                    <br><input type="text" name="carnet" value="{{car}}" disabled>
                {% elif flag == 2%}
                    <span>Carnet</span>
                    <br><input type="text" name="carnet">
                    <div class="alert alert-danger" role="alert">
                      Hubo un error al registrar tu cuenta, intenta de nuevo.
                    </div>
                {% elif flag == 3 %}
                    <span>Carnet</span>
                    <br><input type="text" name="carnet">
                    <div class="alert alert-danger" role="alert">
                      ¡Ese carnet pertenece a otra cuenta! Favor de asistir al IMO para aclaraciones.
                    </div>
                {% elif flag == 4 %}
                    <span>Carnet</span>
                    <br><input type="text" name="carnet">
                    <div class="alert alert-danger" role="alert">
                      ¡Ese carnet no existe! Favor de asistir al IMO para aclaraciones.
                    </div>
                {% else %}      
                    <span>Carnet</span>
                    <br><input type="text" name="carnet">           
                {% endif %}
                <legend class = "border-bottom mb-4">¡Registrate!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-outline-info" type="submit">Registrarme</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                ¿Ya tienes una cuenta? <a class="ml-2" href="{% url 'login' %}">Iniciar Sesión</a>
            </small>
        </div>
    </div>
{% endblock content %}