{% extends "schedueling/base.html" %}
{% load static %}
{% block content %}
<h1>Comentarios</h1>
{% if message %}
<br>
<div class="alert alert-success">{{message}}</div>
{% elif error %}
<br>
<div class="alert alert-danger">{{error}}</div>
{% endif %}
<form action="/feedback_email_form_submission/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="nombre_contacto">Nombre completo:</label>
      <input type="text" id="nombre_contacto" class="form-control" name="nombre_contacto">
      <label for="correo_contacto">Correo electrónico:</label>
      <input type="email" id="correo_contacto" class="form-control" name="correo_contacto">
      <label for="asunto">Asunto:</label>
      <input type="text" id="asunto" class="form-control" name="asunto">
      <label for="comentarios">Comentarios:</label>
      <textarea class="form-control" rows="8" id="comentarios" name="comentarios"></textarea>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-dark">Enviar</button>
    </div>
</form>
<br>
<br>
<br>
{% endblock content %}