{% extends "schedueling/base.html" %}
{% load static %}
{% block content %}
<h1 align="center">¡Invita a alguien a conocer los servicios del IMO!</h1>
<br>
{% if message %}
<br>
<div class="alert alert-success">{{message}}</div>
{% elif error %}
<br>
<div class="alert alert-danger">{{error}}</div>
{% endif %}
<form action="/share/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="nombre_contacto">Nombre de la persona:</label>
      <input type="text" id="nombre_contacto" class="form-control" name="nombre_contacto" required>
      <label for="correo_contacto">Correo electrónico:</label>
      <input type="email" id="correo_contacto" class="form-control" name="correo_contacto" required>
      <label for="comentarios">¿Qué le quieres decir?:</label>
      <textarea class="form-control" rows="8" id="comentarios" name="comentarios" required></textarea>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-dark">Enviar</button>
    </div>
</form>
{% endblock content %}