{% extends "schedueling/base.html" %}
{% load static %}
{% load define_action %}
{% block content %}
<div class="container">
    <h1>Nuestros doctores</h1>
    <br>
    <div class="row">
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="http://imoiap.com/wp-content/uploads/2017/01/GarciaFrancoRenatadelCarmen.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Dra. Renata del Carmen García Franco</h5>
                  <p class="card-text">Jefe de Retina.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="http://imoiap.com/wp-content/uploads/2017/01/MaciasMartinezJaime.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Dr. Jaime Macías Martínez</h5>
                  <p class="card-text">Jefe de segmento anterior.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="http://imoiap.com/wp-content/uploads/2017/01/LazoMendoza.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Dr. Carlos Alberto Lazo Mendoza</h5>
                  <p class="card-text">Jefe de oculoplástica.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="http://imoiap.com/wp-content/uploads/2017/01/corredorcasaa.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Dra. Sonia Corredor Casas</h5>
                  <p class="card-text">Jefe de patología.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="http://imoiap.com/wp-content/uploads/2017/01/Perezperezfernando.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Dr. José Fernando Pérez Pérez</h5>
                    <p class="card-text">Jefe de oftalmología pediátrica.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="http://imoiap.com/wp-content/uploads/2017/01/FernandezMariana.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Dra. Mariana Badillo Hernández</h5>
                    <p class="card-text">Jefe de glaucoma.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <br>
      <p>Para consultar más información sobre nuestros doctores, llama al <a href="tel:+524422290778">+52 442 229 0778</a></p>
  </div>
{% endblock content %}