{% extends "schedueling/base.html" %}
{% load static %}
{% block content %}
	<br>
    <h1>¿Quiénes somos?</h1>
    <br><br>
    <div class="container">
	  <div class="row">
	    <div class="col-sm-12 col-md-6 col-lg-6">
	      <img alt="Logo IMO" src="{% static 'schedueling/img/Logotipo-Alta.png' %}" class="mx-auto d-block img-fluid padEm2">
	    </div>
	    <div class="col-sm-12 col-md-6 col-lg-6 padT">
	    	<ul class="nav nav-tabs" id="myTab" role="tablist">
			  <li class="nav-item">
			    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">MISIÓN</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">VISIÓN</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">VALORES</a>
			  </li>
			</ul>
			<div class="tab-content" id="myTabContent">
			  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
			  	<br>
			  	<p align="justify" class = "big">Reducir la prevalencia e incidencia de las enfermedades visuales en nuestra región, especialmente en la población más vulnerable, a través de la formación de personal médico y paramédico con alta calidad y humanismo.</p>
			  </div>
			  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
			  	<br>
			  	<p align="justify" class = "big">Ser una organización ejemplar en salud visual comunitaria desarrollando la experiencia, fomentando la cooperación con organizaciones afines y con ello mejorar la calidad de vida de la población.</p>
			  </div>
			  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
			  	<br>
			    <p align="justify" class = "big"><strong>Responsabilidad:</strong> Sumamos, somos reflexivos y planificamos las labores que emprendemos.</p><br>
				<p align="justify" class = "big"><strong>Profesionalismo:</strong> Creemos en el mejoramiento continuo, nutrido con la experiencia y aprendizaje diario.</p><br>
				<p align="justify" class = "big"><strong>Integridad:</strong> Hacemos lo que debemos de hacer de acuerdo a lo que consideramos correcto.</p><br>
				<p align="justify" class = "big"><strong>Equidad:</strong> Ofrecemos el servicio adecuado a cada paciente independientemente de su capacidad de pago.</p><br>
				<p align="justify" class = "big"><strong>Servicio:</strong> Actitud permanente de colaboración. Trato a los demás como me gustaría ser tratado.</p><br>
			  </div>
			</div>
	    </div>
	  </div>
	</div>
{% endblock content %}
