{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'schedueling/font-awesome/css/font-awesome.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'schedueling/main.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'schedueling/css/chosen.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'schedueling/css/ImageSelect.css' %}">

    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="{% static 'schedueling/js/main.js' %}"></script>

    <!-- XDSoft Datetime Picker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js"></script>

    {% if title %}
        <title>IMO - {{ title }}</title>
    {% else %}
        <title>IMO</title>
    {% endif %}
</head>
<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'schedueling-home' %}">IMO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          {% if user.is_authenticated and not user.is_staff%}
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'schedueling-home' %}">Inicio</a>
              <a class="nav-item nav-link" href="{% url 'schedueling-contacto' %}">Contacto</a>
              <a class="nav-item nav-link" href="{% url 'staff_imo' %}">Staff</a>
              <a class="nav-item nav-link" href="{% url 'feedback_email_form_submission' %}">Comentarios</a>
              <a class="nav-item nav-link" href="{% url 'share' %}">Invita</a>
            </div>
          {% elif user.is_authenticated and user.is_staff %}
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'admin_add_service' %}">Agregar Servicio</a>
            </div>
          {% endif %}
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if user.is_authenticated and not user.is_staff %}
              <a class="nav-item nav-link" href="{% url 'profile' %}">Mi Cuenta</a>
              <a class="nav-item nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
            {% elif not user.is_authenticated%}
              <a class="nav-item nav-link" href="{% url 'carnet' %}">Iniciar Sesión</a>
              <a class="nav-item nav-link" href="{% url 'register' %}">Registrarse</a>
            {% elif user.is_authenticated and user.is_staff %}
              <a class="nav-item nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main role="main" class="container">
    {% if messages %}
      {% for message in messages%}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
</main>
</body>
<!-- Footer -->
<footer id="sticky-footer" class="py-4 bg-steel text-white-50 fixed-bottom">
  <div class="container text-left">
    &emsp;<span class="text-white">Copyright &copy; Instituto Mexicano de Oftalmología I.A.P.</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <a href="{% url 'aviso_privacidad' %}">Aviso de privacidad</a>&emsp;
    <a href="{% url 'schedueling-about' %}">Acerca del IMO</a>&emsp;
    <a href="{% url 'schedueling-manual' %}">Manual</a>&emsp;
    <a href="{% url 'preguntas_frecuentes' %}">FAQ</a>
  </div>
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'schedueling/js/chosen.jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'schedueling/js/ImageSelect.jquery.js' %}"></script>
</html>