{% extends "schedueling/base.html" %}
{% block content %}
    <h1>Contacto</h1>
    <br>
    <br>
    <div class="row">
      <div class="et_pb_text_inner col-sm-12 col-md-6 col-lg-6">
        <h2>Querétaro.</h2>
        <br>
        <p>Circuito Exterior Estadio Corregidora S/N, Col. Colinas del Cimatario<br>
        C.P. 76090, Querétaro, Qro. Mx.</p>
        <p>Horario:<br>
        Lunes a viernes de 7:00 a 15:00 hrs.<br>
        Sábado 9:00 a 14:00 hrs.<br>
        Emergencias:<br>
        Lunes a viernes de 7:00 a 18:00 hrs.</p>
        <p><a href="tel:442-229-0776">(442) 229 0776</a> &nbsp; &nbsp; &nbsp; <a href="tel:442-229-0778">(442) 229 0778</a></p>
        <p>
        Correo electrónico:
        <a href="mailto:informacion@imoiap.edu.mx" target="_top">informacion@imoiap.edu.mx</a>
        </p>
        <p>
        Página web:
        <a href="imoiap.edu.mx">imoiap.edu.mx</a>
        </p>
        <p>
        LinkedIn:
        <a href="https://www.linkedin.com/company/instituto-mexicano-de-oftalmolog%C3%ADa-i-a-p">https://www.linkedin.com/company/instituto-mexicano-de-oftalmolog%C3%ADa-i-a-p</a>
        </p>
        
        
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 padT">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3735.3037900674994!2d-100.36538468497534!3d20.575647886245577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d344ba1f276945%3A0x97c6823b648262e!2sInstituto%20Mexicano%20de%20Oftalmolog%C3%ADa%20IAP!5e0!3m2!1ses-419!2smx!4v1571702748795!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
    
{% endblock content %}
