{% extends "schedueling/base.html" %}
{% load static %}
{% load define_action %}
{% block content %}
	{% if not user.is_authenticated %}
		<div class = "container">
			<div class = "row">
				<img alt="Logo IMO" src="{% static 'schedueling/img/Logotipo-Alta.png' %}" class="mx-auto d-block img-fluid padEm">
			</div>
		</div>
	{% endif %}
	{% if user.is_authenticated and not user.is_staff %}
    <div class = "container">
        <div class = "row">
          <div class="col-md-4">
            <div class="content-section">
              <h3>Servicios</h3>
              <p class='text-muted'>Seleccione alguna opción.
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light nbg"><a href="{% url 'appointments' %}">Citas próximas</a></li>
                  <li class="list-group-item list-group-item-light nbg"><a href="{% url 'appointmentsPast' %}">Citas anteriores</a></li>
                  <li class="list-group-item list-group-item-light nbg"><a href="{% url 'add_appointment_form_submission' %}">Agendar cita</a></li>
                </ul>
              </p>
            </div>
          </div>
          <div class = "col-md-6">
            <img alt="Logo IMO" src="{% static 'schedueling/img/Logotipo-Alta.png' %}" class="mx-auto d-block img-fluid padEm">
          </div>
        </div>
        <div class= row>
          <div class="offset-sm-6 offset-md-6 offset-lg-6 col-sm-6 col-md-6 col-lg-6">
             <button class="transparent border" onclick="changeBackground()">
                   Cambia modo de iluminación <i class="fa fa-moon-o" aria-hidden="true"></i>/<i class="fa fa-sun-o" aria-hidden="true"></i>
              </button>
          </div>
        </div>
      </div>
    {% endif %}
    {% if user.is_staff %}
      <div class = "container">
          <div class = "row">
            <div class="col-md-4">
              <div class="content-section">
                <h3>Servicios</h3>
                <p class='text-muted'>Seleccione alguna opción.
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-light nbg"><a href="{% url 'admin_services' %}">Ajustes Servicios</a></li>
                    <li class="list-group-item list-group-item-light nbg"><a href="{% url 'admin_users' %}">Ajustes Usuarios</a></li>
                    <li class="list-group-item list-group-item-light nbg"><a href="{% url 'admin_carnets' %}">Ajustes Carnets</a></li>
                  </ul>
                </p>
              </div>
            </div>
            <div class = "col-md-6">
              <img alt="Logo IMO" src="{% static 'schedueling/img/Logotipo-Alta.png' %}" class="mx-auto d-block img-fluid padEm">
            </div>
          </div>
          <div class= row>
            <div class="offset-sm-5 offset-md-5 offset-lg-5 col-sm-6 col-md-6 col-lg-6">
               <button class="transparent border" onclick="changeBackground()">
                     Cambia modo de iluminación <i class="fa fa-moon-o" aria-hidden="true"></i>/<i class="fa fa-sun-o" aria-hidden="true"></i>
                </button>
            </div>
          </div>
        </div>
    {% endif %}
{% endblock content %}
