{% extends "schedueling/base.html" %}
{% block content %}
{% load static %}
    <h1>Manual</h1>
    <br>
      <div class = "row">
        <div class="col-md-4">
            <div class="content-section">
              <h3>Índice</h3>
              <p class='text-muted'>Seleccione alguna opción.
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light nbg"><a href="#line1" >Agendar una nueva cita nueva</a></li>
                  <li class="list-group-item list-group-item-light nbg"><a href="#line2">Cancelar y modificar mis citas futuras</a></li>
                  <li class="list-group-item list-group-item-light nbg"><a href="#line2">Consultar y descargar mi historial de citas</a></li>
                </ul>
              </p>
            </div>
          </div>
        <div class = "col-md-6">
            <img alt="Logo IMO" src="{% static 'schedueling/img/Logotipo-Alta.png' %}" class="mx-auto d-block img-fluid">
        </div>
      </div>
    <div class="col-md-9">
        <section class="welcome">
            <div class="row">
                <div class="col-md-12 left-align">
                    <h2 class="dark-text">Introducción<hr></h2>
                    <div class="row">

                        <div class="col-md-12 full">
                            <div>
                                <p>Estimado paciente, a continuación se presenta un manual de la funcionalidades principales del sistema de citas
                                    <strong>¡Gracias!</strong>
                                </p>
                            </div>
                        </div>

                    </div>
                    <!-- end row -->
                </div>
            </div>
        </section>

        <section id="line1" class="section">

            <div class="row">
                <div class="col-md-12 left-align">
                    <h2 class="dark-text">Agendar una nueva cita nueva<hr></h2>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->

            <h4>Para crear una nueva cita:</h4>

            <ol>
              <li>Seleccione el botón de “mis citas”.</li>
              <li>Seleccione el botón de “crear nueva cita”.</li>
              <li>Ingrese una fecha y un servicio.</li>
              <li>En caso de ser posible o no se le notificará inmediatamente.</li>
            </ol>
            <hr>

        </section>
        <!-- end section -->

        <br>
        <section id="line2" class="section">

            <div class="row">
                <div class="col-md-12 left-align">
                    <h2 class="dark-text">Cancelar y modificar mis citas futuras</h2>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
            <h4>Para cancelar una cita futura:</h4>

            <ol>
              <li>Seleccione el botón de “mis citas”.</li>
              <li>Deslizar hacia la izquierda sobre la cita que desea cancelar.</li>
              <li>Click en el botón de cancelar.</li>
            </ol>
            <br>
            <h4>Para modificar una cita futura:</h4>

            <ol>
              <li>Seleccione el botón de “mis citas”.</li>
              <li>Deslizar hacia la izquierda sobre la cita que desea cancelar.</li>
              <li>Click en el botón de modificar.</li>
              <li>Ingrese los nuevos valores.</li>
              <li>Si desea cancelar de click en el botón de regresar.</li>
            </ol>
            <hr>


        </section>
        <!-- end section -->
        <br>
        <section id="line3" class="section">

            <div class="row">
                <div class="col-md-12 left-align">
                    <h2 class="dark-text">Consultar y descargar mi historial de citas</h2>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
            <h4>Para crear una nueva cita:</h4>

            <ol>
              <li>Seleccione el botón de “mis citas previas”.</li>
              <li>Se muestran todas las citas anteriores.</li>
              <li>Si desea compartirlas seleccione el botón “descargar y seleccione el formato deseado.</li>
            </ol>
            <hr>
        </section>

{% endblock content %}
